<h1> Sign Up Form </h1>

<form method="GET" action="/readings/user?access_token=425c1ecabfe43412146ab1ca5046e1169aa6a645">
      

<!--  <input  name="email" placeholder="email">
    <input  name="medicEmail" placeholder="medicEmail">
    <input  name="glicemia" placeholder="glicemia">
-->
    

    <button> Submit </button>
</form>

