<h1> Sign Up Form </h1>

<form method="POST" action="/readings_gli/new">
  <input  name="email" placeholder="email">
    <input  name="medicEmail" placeholder="medicEmail">
    <input  name="pacient" placeholder="pacient">
      <input  name="glicemia" placeholder="glicemia">

    

    <button> Submit </button>
</form>

