<h1> Sign Up Form </h1>

<form method="POST" action="/pacients/new">
       <input  name="email" placeholder="email">
<input  name="nome" placeholder="nome">
<input  name="medicEmail" placeholder="medicEmail">
       <input  name="morada" placeholder="morada">
       <input  name="utente" placeholder="utente">

  
       
    <button> Submit </button>
</form>

