

<link rel="stylesheet" href="/css/styles2.css">
<div class="wrapper fadeInDown">
<h1 style="color:white;"> Reset </h1>
   <div id="formContent">
		<form action="/reset/<%= token %>" method="POST">
		  <legend>Reset Password</legend>
		
		    <label for="password">New Password</label>
		    <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control"/>
		  </div>
		  <div class="form-group">
		    <label for="confirm">Confirm Password</label>
		    <input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control"/>
		  </div>
		  <div class="form-group">
		    <button type="submit" value="Update Password"></button>
		  </div>
		</form>
</div></div>